<!--navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <a href="index.html" class="navbar-brand">OLX</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn"><a href="#" data-toggle="modal" data-target="#myModal">Login/SignUp</a></li>

		<div *ngIf="isLoggedIn" class="user-dropdown">
            <li><a href="#"><span class="glyphicon glyphicon-user user-icon"></span></a></li>
            <div class="user-dropdown-content dropdown-menu-right" style="padding-top:5px;">
              <a href="profile.html">Hello {{userName}}</a>
              <a routerLink="/newAd">Post a new ad</a>
              <a href="account.html">My Account</a>
			  <a href="">Log Out</a>
            </div>
          </div>
    </ul>
    </div>
</nav>

<!--login modal-->
<div #myModal id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
           <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

          </div>
          <div class="modal-body">
          	<div class="row">
      			<div class="col-md-12">
      				<div class="panel panel-login">
      					<div class="panel-heading">
      						<div class="row">
      							<div class="col-xs-6">
      								<a href="#" class="active" id="login-form-link"  #loginFormLink (click)="showLogin()">Login</a>
      							</div>
      							<div class="col-xs-6">
      								<a href="#" id="register-form-link" #registerFormLink (click)="showRegister()">Register</a>
      							</div>
      						</div>
      						<hr>
      					</div>
      					<div class="panel-body">
      						<div class="row">
      							<div class="col-lg-12">
									  <!--login form-->
      								<form  id="login-form" #loginForm #loginNgForm="ngForm" (ngSubmit)="login(loginNgForm.value)" role="form" style="display: block;" novalidate>
      									<div class="form-group">
      										<input type="text" required name="userName"  tabindex="1" class="form-control" placeholder="Username" #usernameRefModel="ngModel" ngModel>
											<div class="error-box" [hidden]="usernameRefModel.untouched || usernameRefModel.dirty"> 
												Enter your username
											</div>
      									</div>
      									<div class="form-group">
      										<input type="password" required name="password"  tabindex="2" class="form-control" placeholder="Password" #passwordRefModel="ngModel" ngModel>
											<div class="error-box" [hidden]="passwordRefModel.untouched || passwordRefModel.dirty"> 
												Enter your password
											</div>
      									</div>
      									<div *ngIf="loginFailed" class="loginfailed">
											Username or password is incorrect. Please try again.
										</div>
      									<div class="form-group">
      										<div class="row">
      											<div class="col-sm-6 col-sm-offset-3">
      												<button [disabled]="!loginNgForm.form.valid" type="submit" name="login-submit"  tabindex="3" class="form-control btn btn-login">Log In </button>
      											</div>
      										</div>
      									</div>

      								</form>

									  <!--register-form-->
      								<form id="register-form"  #registerForm #registerNgForm="ngForm" role="form" (ngSubmit)="register(registerNgForm.value)" style="display: none;">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" name="firstName" required tabindex="1" class="form-control" placeholder="Firstname"  #fnameRefModel="ngModel" ngModel>
													<div class="error-box" [hidden]="fnameRefModel.untouched || fnameRefModel.dirty"> 
														Enter your first name
													</div>
      											</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" name="lastName" required tabindex="1" class="form-control" placeholder="Lastname"  #lnameRefModel="ngModel" ngModel>
													<div class="error-box" [hidden]="lnameRefModel.untouched || lnameRefModel.dirty"> 
														Enter your last name
													</div>
      											</div>
											</div>
										</div>
      									<div class="form-group">
      										<input type="text" name="userName"required tabindex="1" class="form-control" placeholder="Username"  #nameRefModel="ngModel" ngModel>
											<div class="error-box" [hidden]="nameRefModel.untouched || nameRefModel.dirty"> 
												Choose a username
											</div>
											
										  <div *ngIf="registrationFailed"> 
												Username already exists
											</div>
      									</div>
										  <div class="form-group">
      										<input type="password" name="password" required tabindex="3" class="form-control" placeholder="Password" #passRefModel="ngModel" ngModel>
											<div class="error-box" [hidden]="passRefModel.untouched || passRefModel.dirty"> 
												Enter your password
											</div>
      									</div>
      									<div class="form-group">
      										<input type="email" name="email" required  tabindex="2" class="form-control" placeholder="Email Address" #emailRefModel="ngModel" ngModel >
											<div class="error-box" [hidden]="emailRefModel.untouched || emailRefModel.dirty"> 
												Enter your email
											</div>
      									</div>

      									
										<div class="form-group">
											<input type="text" name="phone" required class="form-control" placeholder="Phone Number" #numberRefModel="ngModel" ngModel>
											<div class="error-box" [hidden]="numberRefModel.untouched || numberRefModel.dirty"> 
												Enter your phone number
											</div>
										</div>
      									<div class="form-group">
      										<div class="row">
      											<div class="col-sm-6 col-sm-offset-3">
      												<input [disabled]="!registerNgForm.form.valid" type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
      											</div>
      										</div>
      									</div>
      								</form>
      							</div>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>
      	<!-- </div> -->
      </div>
        </div>

      </div>
    </div>

