<div class="search-bar">
      <div class="container">
            <div class="input-group" id="adv-search">
              <input type="text" class="form-control" placeholder="What are you looking for?" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="filter">Category</label>
                                    <select class="form-control">
                                        <option value="0" selected>Mobile</option>
                                        <option value="1">Real Estate</option>
                                        <option value="2">Cars</option>
                                        <option value="3">Bikes</option>
                                        <option value="4">Furniture</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Posted by</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Contains the words</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
            <div class="categories">
              <div class="cat-dropdown">
                <ul >
                  <li *ngFor="let category of categories"><a href="#">{{category}}</a></li>
                </ul>
              </div>

            </div>
        </div>

      </div>
