<div class="container main animated fadeIn">
        <div class="row">
          <div class="col-md-8 col-md-offset-2" id="adlists">
            <div class="ad-box" *ngFor="let ad of advertisements">
              
               
                
                  <a href="product.html" class="product-title"><h2>{{ad.title}}</h2></a>
                  <p style="color:#4e4e4e;">posted by <a href="#">{{ad.username}}</a> on <span class="date">{{ad.date}}</span></p>
                  <p class="prod-desc">{{ad.description}}</p>
                
                
              
            </div>
</div>


<!--<div class="ad-box" *ngFor="let ad of advertisements">
              <div class="row">
                <div class="col-md-3">
                  <a href="product.html"><img src="images/ph.jpg" alt=""></a>
                </div>
                <div class="col-md-7">
                  <a href="product.html" class="product-title"><h2>{{ad.title}}</h2></a>
                  <p style="color:#4e4e4e;">posted by <a href="#">{{ad.username}}</a> on <span class="date">{{ad.date}}</span></p>
                  <p class="prod-desc">{{ad.description}}</p>
                </div>
                <div class="col-md-2">
                  <h3>&#8377;2400</h3>
                </div>
              </div>
            </div>-->